<div class="magic-items-content">
	<div class="inventory-filters spellbook-filters magic-items-head">
	    <label><h3>Magic Items</h3></label>
	</div>
	{{#each items as |item i|}}
	<li class="item flexrow inventory-header spellbook-header">
	    <div class="item-name flexrow">
	        <h3>{{name}}</h3>
	    </div>
	    <div class="spell-slots">
	        <input name="flags.magicitems.{{id}}.uses" type="text" value="{{uses}}" placeholder="0"/>
	        <span class="sep"> / </span>
	        <input type="text" value="{{charges}}" placeholder="0"/>
	    </div>
		<div class="spell-rechargeable">{{rechargeableLabel}}</div>
		<div class="spell-level">{{localize "MAGICITEMS.SheetLevel"}}</div>
	    <div class="spell-consumption">{{localize "MAGICITEMS.SheetConsumption"}}</div>
	</li>
	<ol class="item-list">
	    {{#each spells as |spell|}}
	        <li class="item flexrow" data-magic-item="{{../name}}" data-item-id="{{spell.id}}" data-item-consumption="{{spell.consumption}}">
	            <div class="item-name flexrow rollable">
	                <div class="item-image magic-item" style="background-image: url({{spell.img}})"></div>
	                <h4 class="spell-name">{{spell.name}}</h4>
	            </div>
				<div class="spell-level">{{spell.level}}</div>
	            <div class="spell-consumption">{{spell.consumption}}</div>
	        </li>
	    {{/each}}
	</ol>
	{{/each}}
</div>