<div class="magic-items-content">
    <div class="form-group input-select">
        <label>{{localize "MAGICITEMS.SheetEnabled"}}</label>
        <input type="checkbox" name="flags.magicitems.enabled" {{checked enabled}}>
    </div>
    <div class="magic-item-enabled">
    <div class="form-group">
        <label>{{localize "MAGICITEMS.SheetCharges"}}</label>
        <input class="magic-item-charges" type="text" name="flags.magicitems.charges" value="{{charges}}" >
    </div>
    <div class="form-group">
        <label>{{localize "MAGICITEMS.SheetDestroy"}}</label>
        <input type="checkbox" name="flags.magicitems.destroy" {{checked destroy}} >
    </div>
    <div class="form-group">
        <label>{{localize "MAGICITEMS.SheetRechargeable"}}</label>
        <input type="checkbox" name="flags.magicitems.rechargeable" {{checked rechargeable}}>
    </div>
    <div class="form-group magic-item-recharge" >
        <label>{{localize "MAGICITEMS.SheetRecharge"}}</label>
        <div class="form-fields">
            <input type="text" name="flags.magicitems.recharge" value="{{recharge}}">
            <select name="flags.magicitems.rechargeType">
                {{#select rechargeType}}
                {{#each rechargeTypes as |name key|}}
                <option value="{{key}}">{{name}}</option>
                {{/each}}
                {{/select}}
            </select>
            <select name="flags.magicitems.rechargeUnit">
                {{#select rechargeUnit}}
                {{#each rechargeUnits as |name key|}}
                <option value="{{key}}">{{name}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
    </div>
    <ol class="magic-item-list">
        <li class="item flexrow inventory-header spellbook-header">
            <div class="item-name flexrow">
                <h3>{{localize "MAGICITEMS.SheetSpell"}}</h3>
            </div>
            <div class="spell-level-head">{{localize "MAGICITEMS.SheetLevel"}}</div>
            <div class="spell-consumption-head">{{localize "MAGICITEMS.SheetConsumption"}}</div>
            <div class="spell-controls-head">&nbsp;</div>
        </li>

        <ol class="item-list">
        {{#each spells as |item i|}}
            <li class="item flexrow">
                <div class="item-name flexrow">
                    <div class="item-image" style="background-image: url({{item.img}})"></div>
                    <h4><a data-item-idx="{{i}}">{{item.name}}</a></h4>
                    <input type="hidden" name="flags.magicitems.spells.{{i}}.id" value="{{item.id}}">
                    <input type="hidden" name="flags.magicitems.spells.{{i}}.pack" value="{{item.pack}}">
                </div>
                <select class="spell-level" name="flags.magicitems.spells.{{i}}.level">
                    {{#select item.level}}
                    {{#each item.levels as |name key|}}
                    <option value="{{key}}">{{name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
                <input class="spell-consumption" type="text" name="flags.magicitems.spells.{{i}}.consumption" value="{{item.consumption}}">
                <div class="item-controls">
                    <a class="item-control item-delete" title="Delete Item">
                        <i class="fas fa-trash" data-item-name="{{i}}"></i>
                    </a>
                </div>
            </li>
        {{else}}
            <li class="item flexrow">
                <div class="spell-drag-content">{{localize "MAGICITEMS.SheetDragContent"}}</div>
            </li>
        {{/each}}
        {{#each garbage as |index i|}}
            <input type="hidden" name="flags.magicitems.spells.-={{index}}" value="null">    
        {{/each}}
        </ol>
    </ol>
    </div>    
</div>    
